
code[class*="language-"],
pre[class*="language-"] {
    font-family: "Computer Modern Typewriter", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.token.comment,
.token.keyword {
    font-weight: bold;
}

.token.keyword {
    font-style: italic;
    color: #058;
}

.token.comment {
    font-style: normal;
    color: #283;
}
