/*
 * fonts.css
 */

@font-face {
    font-family: 'Header Light';
    font-style:  normal;
    font-weight: normal;
    src: url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraLight.woff2?v=3.15") format("woff2"),
    url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
    font-family: 'Header Light';
    font-style:  italic;
    font-weight: normal;
    src: url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraLightItalic.woff2") format("woff2"),
    url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: 'Header';
    font-style:  normal;
    font-weight: normal;
    src: url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraBold.woff2") format("woff2"),
    url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: 'Header';
    font-style:  italic;
    font-weight: normal;
    src: url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("{{pkg.fonts.basedir}}/Inter/Inter-ExtraBoldItalic.woff") format("woff");
}
@font-face {
    font-family: 'Header';
    font-style:  normal;
    font-weight: bold;
    src: url("{{pkg.fonts.basedir}}/Inter/Inter-Black.woff2") format("woff2"),
    url("{{pkg.fonts.basedir}}/Inter/Inter-Black.woff") format("woff");
}
@font-face {
    font-family: 'Header';
    font-style:  italic;
    font-weight: bold;
    src: url("{{pkg.fonts.basedir}}/Inter/Inter-BlackItalic.woff2") format("woff2"),
    url("{{pkg.fonts.basedir}}/Inter/Inter-BlackItalic.woff") format("woff");
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmuntt.eot');
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmuntt.eot?#iefix') format('embedded-opentype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntt.woff') format('woff'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntt.ttf') format('truetype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntt.svg#cmuntt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmuntb.eot');
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmuntb.eot?#iefix') format('embedded-opentype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntb.woff') format('woff'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntb.ttf') format('truetype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntb.svg#cmuntb') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmunit.eot');
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmunit.eot?#iefix') format('embedded-opentype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmunit.woff') format('woff'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmunit.ttf') format('truetype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmunit.svg#cmunit') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmuntx.eot');
    src: url('{{pkg.fonts.basedir}}/Typewriter/cmuntx.eot?#iefix') format('embedded-opentype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntx.woff') format('woff'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntx.ttf') format('truetype'),
    url('{{pkg.fonts.basedir}}/Typewriter/cmuntx.svg#cmuntx') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Text";
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-400-Book.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Text";
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-400-BookItalic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Text";
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-500-Medium.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Text";
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-500-MediumItalic.otf");
    font-weight: bold;
    font-style: italic;
}
