/*
 * fonts.css
 */

@font-face {
    font-family: "Header";
    src: url("{{pkg.fonts.basedir}}/DarkerGrotesque/webfont/DarkerGrotesque-Black.woff")
        format("woff");
}

@font-face {
    font-family: "Text";
    /* _includes/assets/fonts/Jost/Jost-400-Book.otf */
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-400-Book.otf");
}

@font-face {
    font-family: "Text italic";
    /*src: url("{{pkg.fonts.basedir}}/Metropolis-r11/Fonts/Webfonts/WOFF/Metropolis-RegularItalic.otf")*/
    /*    format("otf");*/
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-400-BookItalic.otf");
}

@font-face {
    font-family: "Text bold";
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-500-Medium.otf");
}

@font-face {
    font-family: "Text bold italic";
    src: url("{{pkg.fonts.basedir}}/Jost/Jost-500-MediumItalic.otf");
}
