<footer>
  <small>
    <p>This project is maintained by <em>{{pkg.author.name}}</em>. Check out the <a href="{{pkg.enginerepository.url}}">engine repo</a> and <a href="{{ pkg.repository
    .url}}">content and colors repo</a>.</p>
  </small>
</footer>
