<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
	</body>

    <style>
        pre,
        code,
        code[class*="language-"],
        pre[class*="language-"] {
            font-family: "Computer Modern Typewriter", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            line-height: 1.4;
        }
        .token.comment,
        .token.keyword {
            font-weight: bold;
            font-style: italic;
        }
        .token.keyword {
            color: #058;
        }
        .token.comment {
            color: #283;
        }
    </style>
</html>
